<template>
  
  <div class="container-fluid">
    
        <div class="row">
          <!-- nav -->
          <SideNav @tab-component="showTabComponent" :options="menuOptions"/> 
                 
        </div>
        
        <div class="componentTab">
          <component v-bind:is="currentTabComponent"></component>
        </div>
                  

  </div>
</template>
 
<style scoped>
.componentTab {
  margin-left: 17%;
  max-height: 85vh;
  text-align: left;

}
</style>

<script>
import SideNav from '../components/SideNav'
import MainTab from '../components/MainTab'
import RegisterExam from '../components/RegisterExam'
import CreateExam from '../components/CreateExam'
import DeleteExam from '../components/DeleteExam'
import AssignExam from '../components/AssignExam'

export default {
  name: 'Home',
  components: {
    SideNav,
    'main-tab': MainTab,
    'register-exam': RegisterExam,
    'create-exam': CreateExam,
    'delete-exam': DeleteExam,
    'assign-exam': AssignExam,

  },
  data() {
    return {
      currentTabComponent: '',
      menuOptions: [],
    
    }
  },
  methods: {
    showTabComponent (ComponentId) {
      this.currentTabComponent = ComponentId
    },
    async fetchMenuOptions() {
      const res = await fetch('api/auth/menuoptions', {
				  method: 'GET',
				  headers: {
					  'Content-type': 'application/json',
            'Authorization': 'Bearer '+ window.localStorage.getItem('s_acc_tok')
				  }
			  })
        const rdata = await res.json()
			  if(res.status != 200) {
				  this.$router.push({ name: 'Login' });
			  } else {
          this.menuOptions = rdata.menuOptions
          return rdata.menuOptions
			  }
    },
  },
  async created() {
    this.menuOptions = await this.fetchMenuOptions()
  }
}
</script>
