<template>
    <div class="container h-100">
		<div class="d-flex justify-content-center ">
			<div class="user_card bg-dark">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">Login</h3>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form  @submit="onSubmit">
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="email" placeholder="email..." class="form-control">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
								<input type="password" name="password" placeholder="Password..." class="form-control" >
						</div>
							<div class="d-flex justify-content-center mt-3 login_container">
				 				<input class="btn login_btn bg-info" type="submit" value="Login">
							   </div>
							   <br>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>

<style scoped>
		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
		}
		.user_card {
			width: 350px;
			background: #74cfbf;
			margin-top: 10%;
			margin-bottom: auto;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;
		}

		.form_container {
			margin-top: 20px;
		}

		#form-title{
			color: #fff;
			
		}

		.login_btn {
			width: 100%;
			background: #74cfbf;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #17a2b8 !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}

		#messages{
			background-color: grey;
			color: #fff;
			padding: 10px;
			margin-top: 10px;
		}
</style>

<script>
export default {
    name : 'login',
	data() {
		return {
			authData: ''
			}
		},
  	methods: {
		  async authenticateUser(authData) {
			  const res = await fetch('api/auth', {
				  method: 'POST',
				  headers: {
					  'Content-type': 'application/json'
				  },
				  body: JSON.stringify(authData)
			  })
			  const rdata = await res.json()
			  console.log('response data')
			  if(res.status != 200) {
				  alert('Login failed. Credentials are incorrect')
			  } else {
				  window.localStorage.setItem('s_acc_tok',rdata.accessToken)
				  // Navigating to the named route
				  this.$router.push({ name: 'Home' });
			  }
		  },
		  onSubmit(e) {
			  e.preventDefault()
			  if(!true) {
				  alert('Invalid credentials ')
				  return
			  }
			  console.log('requestData'+JSON.stringify({ "email": "email@gmail.com", "pass": "pass"}))
			  this.authenticateUser({ "email": "email@gmail.com", "pass": "pass"})


		  }
	  },
}
</script>