<template>
    <br>
    <h1 class=" text-center text-secondary font-weight-light"><b>Create Exam </b></h1>
    <br>

    <form @submit="onSubmit">
        <div class=" form-row frow">
            <div class=" col-3">
                <label for="e_id" class="lbltxt">Id</label>
                <input id="e_id" type="text" v-model="e_id" class="form-control" placeholder="Exam Id">
            </div>
            <div class=" col-5">
                <label for="e_name" class="lbltxt">Name</label>
                <input id="e_name" type="text" v-model="e_name" class="form-control" placeholder="Exam Name">
            </div>
            <div class=" col-4">
                <label for="e_semester" class="lbltxt">Semester</label>
                <input id="e_semester" type="text" v-model="e_semester" class="form-control" placeholder="Exam Name">
            </div>
        </div>
        <div class=" form-row frow">
            <div class="col-3">
                <label for="e_credits" class="lbltxt">Credits</label>
                <input id="e_credits" type="text" v-model="e_credits" class="form-control" placeholder="Credits">
            </div>
            <div class="col-5">
                <label for="e_lang" class="lbltxt">Language</label>
                <input id="e_lang" type="text" v-model="e_lang" class="form-control" placeholder="Language">
            </div>

        </div>
        <br>
        <div class=" form-row frow">
            <div class="col-4 "></div>
            <button type="submit" class="btn btn-info  col">Info</button>
            <div class="col-4"></div>

        </div>

    </form>

</template>

<style scoped>
    .lbltxt {
        padding-left: inherit;
        font-weight: bold;
        margin-bottom: 0rem;
    }

    .frow {
        margin-bottom: 1rem;
    }
</style>

<script>
    export default {
        name: 'createExam',
        data() {
            return {
                e_id: '',
                e_name: '',
                e_semester: '',
                e_credits: '',
                e_lang: '',
            }
        },
        methods: {
            onSubmit(e) {
                e.preventDefault()
                if (!this.e_id && !this.e_name) {
                    alert('Please add a task')
                    return
                }
                const n_exam = {
                    id: this.e_id,
                    name: this.e_name,
                    semester: this.e_semester,
                    credits: this.e_credits,
                    lang: this.e_lang,
                }

                this.addExam(n_exam)
            },

            async addExam(_exam) {
                const res = await fetch('api/CRUD/exam', {
                    method: 'POST',
                    headers: {
                        'Content-type': 'application/json',
                        'Authorization': 'Bearer ' + window.localStorage.getItem('s_acc_tok')
                    },
                    body: JSON.stringify(_exam),
                })

                const rdata = await res.json()
                if (res.status != 200) {
                    alert('Request unsuccessful')
                    return;
                } else {
                    alert('Record saved')
                    this.e_id = ''
                    this.e_name = ''
                    this.e_semester = ''
                    this.e_credits = ''
                    this.e_lang = ''

                }

            },


        }
    }
</script>