<template>
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        
        <div class="sidebar-sticky pt-3 center menuOption" >
            <ul class="nav flex-column " >
                        <li :key="option.id" v-for="option in options" class="nav-item mItems">
                            <a >

                            <button @click="emitTabComponent(option.componentId)" class="nav-link btn btn-outline-dark mx-auto"  >
                                {{option.name}}
                            </button>
                            </a>
                        </li>
                    </ul>
                    <!-- <button @click="emitTabComponent('register-exam')" class="nav-link btn btn-outline-dark mx-auto"  >
                                Register Exam
                            </button> -->
                    <!-- <button @click="currentTabComponent = 'register-exam'" class="nav-link btn btn-outline-info mx-auto"  >
                                Register Exam
                            </button>   -->
                    
                </div>
            </nav>

    
                    
                    

</template>

<style scoped>
.sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 100;
            /* Behind the navbar */
            padding: 4px 0 0;
            /* Height of navbar */
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
        }

        @media (max-width: 767.98px) {
            .sidebar {
                top: 5rem;
            }
        }

        .sidebar-sticky {
            position: relative;
            top: 100;
            height: calc(80vh );
            padding-top: .5rem;
            overflow-x: hidden;
            overflow-y: auto;
            /* Scrollable contents if viewport is shorter than content. */
        }

        @supports ((position: -webkit-sticky) or (position: sticky)) {
            .sidebar-sticky {
                position: -webkit-sticky;
                position: sticky;
            }
        }

        /* .sidebar .nav-link {
            font-weight: 500;
            color: #333;
        } */

        .sidebar .nav-link .feather {
            margin-right: 4px;
            color: #999;
        }

        /* .sidebar .nav-link.active {
            color: #007bff;
        } */

        .sidebar .nav-link:hover .feather,
        .sidebar .nav-link.active .feather {
            color: inherit;
        }

        .sidebar-heading {
            font-size: .75rem;
            text-transform: uppercase;
        }
        .menuOption {
            margin-top: 30%;
        }
        .mItems {
            margin-top: 10%;
        }
</style>
<script>
export default {
    name: 'SideNav',
    props: {
        options: Array
    },
    components: {

    },
    data() {
        
    },
    methods: {
        emitTabComponent(id) {
            this.$emit('tab-component', id)
        }
    }
    
}
</script>


